.search-container {
  text-align: center;
  margin-top: 50px;
}

.search-container input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
}

.result-box {
  margin-top: 30px;
  padding: 20px;
  display: inline-block;
  background: #f4f4f4;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
